<h2>New Post</h2>

<%= form_for @post, url: user_posts_path(current_user), html: { class: 'ui form' } do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <div id="map"></div>
  </div>

  <%= f.submit 'Submit', class: 'ui orange button' %>
<% end %>

<script type="text/javascript">
    let map = makeMap();
    setMapCenter(map);

    GMaps.on('click', map.map, function(e) {
        map.removeMarkers();

        const lat = e.latLng.lat();
        const lng = e.latLng.lng();

        map.addMarker({
            lat,
            lng,
        });

        document.getElementById('post_latitude').value = lat;
        document.getElementById('post_longitude').value = lng;
    });
</script>