<h2>New Post</h2>

<%= form_for @post, html: { class: 'ui form' } do |f| %>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :position %>
    <div id="map"></div>
  </div>

  <%= f.submit 'Submit', class: 'ui orange button' %>
<% end %>

<script type="text/javascript">
    let map;
    if (!map) {
       map = new GMaps({
            div: '#map',
            lat: 35.6896,
            lng: 139.6921,
        });
    }

    navigator.geolocation.getCurrentPosition(position => {
        const { latitude, longitude } = position.coords;
        map.setCenter(latitude, longitude);
    }, error => {

    });

    GMaps.on('click', map.map, function(e) {
        map.removeMarkers();

        const lat = e.latLng.lat();
        const lng = e.latLng.lng();

        map.addMarker({
            lat,
            lng,
        });

        document.getElementById('post_latitude').value = lat;
        document.getElementById('post_longitude').value = lng;
    });
</script>