<!DOCTYPE html>
<html>
  <head>
    <title>Rekall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK9mn7ZW6XACU549yjgITeJ-ajyeld0QM"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  </head>

  <body>

    <div class="ui top fixed menu">
      <%= link_to 'REKALL', root_path, class: 'item' %>

      <div class="right menu">
        <% if user_signed_in? %>
          <%= link_to current_user.username, user_path(username: current_user.username), class: 'item' %>
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'item' %>
          <%= link_to edit_user_registration_path(current_user), class: 'item' do %>
            <i class="cog icon"></i>
          <% end %>
          <%= link_to new_user_post_path(current_user), class: 'item' do %>
            <i class="plus icon"></i>
          <% end %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'item' %>
          <%= link_to 'Log in', new_user_session_path, class: 'item' %>
        <% end %>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
