<!DOCTYPE html>
<html>
  <head>
    <title>Rekall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK9mn7ZW6XACU549yjgITeJ-ajyeld0QM"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.min.js"></script>
  </head>

  <body>
    <div class="ui top fixed menu">
      <%= link_to 'REKALL', photos_path, class: 'item' %>

      <div class="right menu">
        <%= link_to new_photo_path, class: 'item' do %>
          <i class="plus icon"></i>
        <% end %>
      </div>
    </div>

    <div class="ui container">
      <%= yield %>
    </div>
  </body>
</html>
